# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.nar
*.tar
*.zip
*.tar.gz
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

# STS (Spring Tool Suite)
.apt_generated
.factorypath
.springBeans
.sts4-cache


# Locally stored "Eclipse launch configurations"
*.launch

#Gradle
.gradle
.gradletasknamecache

.metadata
bin/
tmp/
*.tmp
*.bak
*~.nib
local.properties
.loadpath
.recommenders

*#
*.sw?
*~
.#*
.*.md.html


.recommenders
/code
MANIFEST.MF
_site/
activemq-data
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
target
transaction-logs
.flattened-pom.xml
secrets.yml

# IDE
.idea